<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hbsd.mapper.business.OverOffRelationMapper">
  <resultMap id="BaseResultMap" type="com.hbsd.bean.business.OverOffRelation">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="overtime_id" jdbcType="INTEGER" property="overtimeId" />
    <result column="offtime_id" jdbcType="INTEGER" property="offtimeId" />
    <result column="offtime_day" jdbcType="DOUBLE" property="offtimeDay" />
  </resultMap>
  <sql id="Base_Column_List">
    id, overtime_id, offtime_id, offtime_day
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from over_off_relation
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from over_off_relation
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.hbsd.bean.business.OverOffRelation">
    insert into over_off_relation (id, overtime_id, offtime_id, 
      offtime_day)
    values (#{id,jdbcType=INTEGER}, #{overtimeId,jdbcType=INTEGER}, #{offtimeId,jdbcType=INTEGER}, 
      #{offtimeDay,jdbcType=DOUBLE})
  </insert>
  <insert id="insertSelective" parameterType="com.hbsd.bean.business.OverOffRelation">
    insert into over_off_relation
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="overtimeId != null">
        overtime_id,
      </if>
      <if test="offtimeId != null">
        offtime_id,
      </if>
      <if test="offtimeDay != null">
        offtime_day,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="overtimeId != null">
        #{overtimeId,jdbcType=INTEGER},
      </if>
      <if test="offtimeId != null">
        #{offtimeId,jdbcType=INTEGER},
      </if>
      <if test="offtimeDay != null">
        #{offtimeDay,jdbcType=DOUBLE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hbsd.bean.business.OverOffRelation">
    update over_off_relation
    <set>
      <if test="overtimeId != null">
        overtime_id = #{overtimeId,jdbcType=INTEGER},
      </if>
      <if test="offtimeId != null">
        offtime_id = #{offtimeId,jdbcType=INTEGER},
      </if>
      <if test="offtimeDay != null">
        offtime_day = #{offtimeDay,jdbcType=DOUBLE},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hbsd.bean.business.OverOffRelation">
    update over_off_relation
    set overtime_id = #{overtimeId,jdbcType=INTEGER},
      offtime_id = #{offtimeId,jdbcType=INTEGER},
      offtime_day = #{offtimeDay,jdbcType=DOUBLE}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <!--根据调休记录查询出相关联的overoffrelation记录-->
<select id="selectListByOfftimeId" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List"></include>
    FROM over_off_relation oor
    WHERE oor.offtime_id=#{id}

</select>

</mapper>